<%= form_for(@member_of_parliament) do |f| %>
  <% if @member_of_parliament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member_of_parliament.errors.count, "error") %> prohibited this member_of_parliament from being saved:</h2>

      <ul>
      <% @member_of_parliament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :electorate_id %><br>
    <%= f.text_field :electorate_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
