<%= form_for(@post_code) do |f| %>
  <% if @post_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_code.errors.count, "error") %> prohibited this post_code from being saved:</h2>

      <ul>
      <% @post_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.number_field :code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
